*.i
*.o
*.rec
*.swp
*.swo
*.pyc

# Don't ignore the default ruleset
!*/Rules/Default

# Ignore any other ruleset so I don't accidently upload something I don't want
# to
*/Rules/*
Rules/*

# Don't commit save files
*.sav
*.omn