*.i
*.o
*.rec
*.swp
*.swo
*.pyc
# Removing Rules for now during development since this will be messy and the
# rules themselves don't offer any value to anyone else until a release
# version is created
*/Rules/Test*
*/Rules/*
Rules/*
# Don't commit save files
*.sav
*.omn